EXPO_PUBLIC_SUPABASE_API_KEY = eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZleHV1dGJ5Z2h5bGZxb2N5bWFyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MjA1MzQ0OTEsImV4cCI6MjAzNjExMDQ5MX0.Hchwb_G5PW8WiHeMtO-9WCqMzx30pN7HAVc6nqhSGSM
EXPO_PUBLIC_SUPABASE_URL = https://fexuutbyghylfqocymar.supabase.co